name: llamenos-healthcheck

services:
  healthcheck:
    image: {{ healthcheck_image | default('curlimages/curl:8.12.1') }}
    restart: unless-stopped
    volumes:
      - ./healthcheck.sh:/healthcheck.sh:ro
    command: /bin/sh /healthcheck.sh
    networks:
      - llamenos-internal
      - llamenos-observability
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  llamenos-internal:
    external: true
  llamenos-observability:
    external: true
