name: llamenos-promtail

services:
  promtail:
    image: {{ promtail_image | default('grafana/promtail:3.4.2') }}
    restart: unless-stopped
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/config.yml
    networks:
      - llamenos-observability
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  llamenos-observability:
    external: true
